<ng-include src="'<%= asset_path('angular/shared/header.html.erb') %>'"></ng-include>
<div class="counterparties">
  {{ 'counterparties' | translate }}
  <div class="ctrl">
    <div class="form">
      <form ng-submit="add()">
        <table>
          <tr>
            <th translate='name'></th>
            <th translate='date'></th>
            <th></th>
          </tr>
          <tr>
            <td>
              <input ng-model="newCounterparty.name" type="text"></input>
            </td>
            <td>
              <input ng-model='newCounterparty.start_date' type='text' id='start_date'></input>
            </td>
            <td><button class="btn" type="submit" translate='NewArticle'></button></td>
          </tr>
        </table>
      </form>
    </div>
    <a ng-click="showMonthlyPayment = !showMonthlyPayment" href="" class="show_monthly_payment">
      {{ 'monthly_payment' | translate }}
      <span ng-show='!showMonthlyPayment'>({{ 'show' | translate }})</span>
      <span ng-show=' showMonthlyPayment'>({{ 'hide' | translate }})</span>
    </a>
    <div class="list">
      <table>
        <tr>
          <td class="name-block">
            {{ 'activ_cont' | translate }} ({{ activeCounterparties.length }}):
          </td>
        </tr>
        <tr>
          <th translate='name'></th>
          <th translate='date' class="editDate"></th>
          <th translate='payment' ng-show='showMonthlyPayment'></th>
          <th></th>
        </tr>
        <tr class="list-count-article list_{{ counterparty.active }}" ng-repeat="counterparty in activeCounterparties" ng-class="{stand_out: counterparty.monthly_payment && showMonthlyPayment}" repeat-complete>
          <td>
            <span class="name" editable-text="counterparty.name" e-name="name" e-form="rowform" e-required>
              {{ counterparty.name }}
            </span>
          </td>
          <td class="editDate">
            <span e-class="start_date" e-ng-click="openDatepicker()" class="date" editable-text="counterparty.start_date" e-name="start_date" e-form="rowform" ng-click='datepicker()'>
              {{ counterparty.start_date }}
            </span>
          </td>
          <td class="monthly_payment" ng-show='showMonthlyPayment'>
            <span ng-show='counterparty.monthly_payment && !rowform.$visible'>
              {{ counterparty.value_payment }}
            </span>
          </td>
          <td class ="edit_icon">
            <span ng-show="!rowform.$visible">
              <input type="checkbox" class='checkbox_payment hidde' title="{{ 'monthly_payment' | translate }}" ng-model='counterparty.monthly_payment' ng-change='update(counterparty.id, {monthly_payment: counterparty.monthly_payment}); inputValue=true' ng-show='!inputValue || !counterparty.monthly_payment'>
              <span ng-show='counterparty.monthly_payment && inputValue' class='change_value_payment'>
                <input type='text' ng-model="counterparty.value_payment" class='value'>
                <button type="button" class='icon-button' ng-click="update(counterparty.id, {monthly_payment: counterparty.monthly_payment, value_payment:counterparty.value_payment}); inputValue=!inputValue" ng-show='counterparty.value_payment' title="{{ 'save_changes' | translate }}"><span class='glyphicon glyphicon-check'></span></button>
                <button type="button" class='icon-button' ng-click="counterparty.monthly_payment=!counterparty.monthly_payment; inputValue=!inputValue" title="{{ 'cancel' | translate }}"><span class='glyphicon glyphicon-remove'></span></button>
              </span>
            </span>
            <div class="butn" ng-show="!rowform.$visible && !monthlyPayment && (!inputValue || !counterparty.monthly_payment)">
              <button type="button" class='icon-button hidde' ng-click="rowform.$show()" title="{{ 'edit_reg' | translate }}"><span class='glyphicon glyphicon-edit'></span></button>
              <span class="hidde glyphicon glyphicon-info-sign mess-info" ng-show="counterparty.assigned && !rowform.$visible" title="{{ 'deleteInfo' | translate }}">
              </span>
              <button type="button" class='icon-button hidde' ng-show="!counterparty.assigned" ng-click="delete(counterparty.id, $index, true)" title="{{ 'delete_reg' | translate }}"><span class='glyphicon glyphicon-trash'></span></button>
            </div>
            <span class="activ">
              <span class="active" editable-checkbox="counterparty.active" e-name="active" e-form="rowform" e-title="Active?">
              </span>
            </span>
            <form editable-form name="rowform" onbeforesave="update(counterparty.id, $data, $index, true)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == counterparty">
              <button type="submit" class='icon-button' ng-disabled="rowform.$waiting" title="{{ 'save_changes' | translate }}"><span class='glyphicon glyphicon-check'></span></button>
              <button type="button" class='icon-button' ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="{{ 'cancel' | translate }}"><span class='glyphicon glyphicon-remove'></span></button>
            </form>
          </td>
          <td class="monthly_payment">
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>{{ 'warning' | translate }}</strong> {{ 'info_monthly_payment' | translate }}
            </div>
          </td>
        </tr>
      </table>

      <div class='clearboth'></div>

      <table>
        <tr>
          <td class="name-block">
            {{ 'inacti_cont' | translate }} ({{ inactiveCounterparties.length }}):
          </td>
        </tr>
        <tr>
          <th translate='name'></th>
          <th translate='date'></th>
        </tr>
        <tr class="list-count-article list_{{ counterparty.active }}" ng-repeat="counterparty in inactiveCounterparties">
          <td>
            <span class="name" editable-text="counterparty.name" e-name="name" e-form="rowform" e-required>
              {{ counterparty.name }}
            </span>
          </td>
          <td class="editDate">
            <span e-class="start_date" e-ng-click="openDatepicker()" class="date" editable-text="counterparty.start_date" e-name="start_date" e-form="rowform" ng-click='datepicker()'>
              {{ counterparty.start_date }}
            </span>
          </td>
          <td class ="edit_icon">
            <div class="butn" ng-show="!rowform.$visible">
              <button type="button" class='icon-button hidde' ng-click="rowform.$show()"><span class='glyphicon glyphicon-edit'></span></button>
              <span class="hidde glyphicon glyphicon-info-sign mess-info" ng-show="counterparty.assigned && !rowform.$visible" title="{{ 'deleteInfo' | translate }}">
              </span>
              <button type="button" class='icon-button hidde' ng-show="!counterparty.assigned" ng-click="delete(counterparty.id, $index, false)"><span class='glyphicon glyphicon-trash'></span></button>
            </div>
            <span class="activ">
              <span class="active" editable-checkbox="counterparty.active" e-name="active" e-form="rowform" e-title="Active?">
              </span>
            </span>
            <form editable-form name="rowform" onbeforesave="update(counterparty.id, $data, $index, false)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == counterparty">
              <button type="submit" class='icon-button' ng-disabled="rowform.$waiting" ><span class='glyphicon glyphicon-check'></span></button>
              <button type="button" class='icon-button' ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"><span class='glyphicon glyphicon-remove'></span></button>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
