<div class="counterparties">
  Контрагенти
  <div class="ctrl" ng-controller="CounterpartiesCtrl">
    <div class="form">
      <form ng-submit="add()">
        <table>
          <tr>
            <th>Ім’я</th>
            <th>Дата</th>
            <th></th>
          </tr>
          <tr>
            <td>
              <input ng-model="newCounterparty.name" type="text"></input>
            </td>
            <td>
              <input ng-model='newCounterparty.start_date' type='text' id='start_date'></input>
            </td>
            <td><button class="btn" type="submit">Додати</button></td>
          </tr>
        </table>
      </form>
    </div>
    <div class="list">
      <ul>
        <span class="name-block">
          Aктивні контрагенти ({{ activeCounterparties.length }}):
        </span>
        <li class="list-count list_{{ counterparty.active }}" ng-repeat="counterparty in activeCounterparties">
          <span class="name" editable-text="counterparty.name" onbeforesave="update(counterparty.id, {name: $data})">
            {{ counterparty.name }}
          </span>
          <span class="date" editable-text="counterparty.start_date" onbeforesave="update(counterparty.id, {start_date: $data})" ng-click='datepicker()'>
            {{ counterparty.start_date }}
          </span>
          <a href="#" class="status-count" editable-checkbox="counterparty.active" onbeforesave="update(counterparty.id, {active: $data})" e-title="Active?">
            {{ counterparty.active && "[статус]" || "[статус]" }}
          </a>
          |
          <button class="delete btn" ng-show="!counterparty.assigned" ng-click="delete(counterparty.id)">Видалити</button>
          <span class="mess-warning" ng-show="counterparty.assigned" title="Видалення не можливе. Контрагент має зв’язки."></span>
        </li>
        <span class="name-block">
          Не активні контрагенти ({{ inactiveCounterparties.length }}):
        </span>
        <li class="list-count list_{{ counterparty.active }}" ng-repeat="counterparty in inactiveCounterparties">
          <span class="name" editable-text="counterparty.name" onbeforesave="update(counterparty.id, {name: $data})">
            {{ counterparty.name }}
          </span>
          <span class="date" editable-text="counterparty.start_date" onbeforesave="update(counterparty.id, {start_date: $data})" ng-click='datepicker()'>
            {{ counterparty.start_date }}
          </span>
          <a href="#" class="status-count" editable-checkbox="counterparty.active" onbeforesave="update(counterparty.id, {active: $data})" e-title="Active?">
            {{ counterparty.active && "[статус]" || "[статус]" }}
          </a>
          |
          <button class="delete btn" ng-show="!counterparty.assigned" ng-click="delete(counterparty.id)">Видалити</button>
          <span class="mess-warning" ng-show="counterparty.assigned" title="Видалення не можливе. Контрагент має зв’язки."></span>
        </li>
      </ul>
    </div>
  </div>
</div>

