<div class="counterparties">
  Контрагенти
  <div class="ctrl" ng-controller="CounterpartiesCtrl">
    <div class="form">
      <form ng-submit="add()">
        <table>
          <tr>
            <th>Ім’я</th>
            <th>Дата</th>
            <th></th>
          </tr>
          <tr>
            <td>
              <input ng-model="newCounterparty.name" type="text"></input>
            </td>
            <td>
              <input ng-model='newCounterparty.start_date' type='text' id='start_date'></input>
            </td>
            <td><button type="submit">Додати</button></td>
          </tr>
        </table>
      </form>
    </div>
    <div class="list">
      <ul>
        <li ng-repeat="counterparty in counterparties">
          <span class="name" editable-text="counterparty.name" onbeforesave="update(counterparty.id, $data)">
            {{ counterparty.name }}
          </span>
          <span class="date" editable-text="counterparty.start_date" onbeforesave="update(counterparty.id, $data)" ng-click='datepicker()'>
            {{ counterparty.start_date }}
          </span>
          <a href="#" editable-checkbox="counterparty.active" onbeforesave="update_ac(counterparty.id, $data)" e-title="Active?">
            {{ counterparty.active && "Active!" || "Not Active" }}
          </a>
          |
          <a class="delete" href="javascript: void(false);" ng-click="delete(counterparty.id)">
            Видалити
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

