<div class="counterparties">
  Контрагенти
  <div class="ctrl" ng-controller="CounterpartiesCtrl">
    <div class="form">
      <form ng-submit="add()">
        <table>
          <tr>
            <th>Ім’я</th>
            <th>Дата</th>
            <th></th>
          </tr>
          <tr>
            <td>
              <input ng-model="newCounterparty.name" type="text"></input>
            </td>
            <td>
              <input ng-model='newCounterparty.start_date' type='text' id='start_date'></input>
            </td>
            <td><button class="btn" type="submit">Додати</button></td>
          </tr>
        </table>
      </form>
    </div>
    <div class="list">
      <ul>
        <span class="name-block">
          Aктивні контрагенти ({{ activeCounterparties.length }}):
        </span>
        <li class="list-count list_{{ counterparty.active }}" ng-repeat="counterparty in activeCounterparties">
          <span class="name" editable-text="counterparty.name" e-name="name" e-form="rowform" e-required>
            {{ counterparty.name }}
          </span>
          <span e-class="start_date" e-ng-click="openDatepicker()" class="date" editable-text="counterparty.start_date" e-name="start_date" e-form="rowform" ng-click='datepicker()'>
            [{{ counterparty.start_date }}]
          </span>
          <span class="active" editable-checkbox="counterparty.active" e-name="active" e-form="rowform" e-title="Active?">
          </span>
          <form editable-form name="rowform" onbeforesave="update(counterparty.id, $data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == counterparty">
            <button type="submit" class='icon-button' ng-disabled="rowform.$waiting" ><span class='glyphicon glyphicon-check'></span></button>
            <button type="button" class='icon-button' ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"><span class='glyphicon glyphicon-remove'></span></button>
          </form>
          <div class="butn" ng-show="!rowform.$visible">
            <button type="button" class='icon-button' ng-click="rowform.$show()"><span class='glyphicon glyphicon-edit'></span></button>
            <button type="button" class='icon-button' ng-show="!counterparty.assigned" ng-click="delete(counterparty.id)"><span class='glyphicon glyphicon-trash'></span></button>
            <span class="glyphicon glyphicon-info-sign mess-info" ng-show="counterparty.assigned" title="Видалення не можливе. Контрагент має зв’язки."></span>
          </div>
        </li>
        <span class="name-block">
          Не активні контрагенти ({{ inactiveCounterparties.length }}):
        </span>
        <li class="list-count list_{{ counterparty.active }}" ng-repeat="counterparty in inactiveCounterparties">
          <span class="name" editable-text="counterparty.name" e-name="name" e-form="rowform" e-required>
            {{ counterparty.name }}
          </span>
          <span e-class="start_date" e-ng-click="openDatepicker()" class="date" editable-text="counterparty.start_date" e-name="start_date" e-form="rowform" ng-click='datepicker()'>
            [{{ counterparty.start_date }}]
          </span>
          <span class="active" editable-checkbox="counterparty.active" e-name="active" e-form="rowform" e-title="Active?">
          </span>
          <form editable-form name="rowform" onbeforesave="update(counterparty.id, $data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == counterparty">
            <button type="submit" class='icon-button' ng-disabled="rowform.$waiting" ><span class='glyphicon glyphicon-check'></span></button>
            <button type="button" class='icon-button' ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"><span class='glyphicon glyphicon-remove'></span></button>
          </form>
          <div class="butn" ng-show="!rowform.$visible">
            <button type="button" class='icon-button' ng-click="rowform.$show()"><span class='glyphicon glyphicon-edit'></span></button>
            <button type="button" class='icon-button' ng-show="!counterparty.assigned" ng-click="delete(counterparty.id)"><span class='glyphicon glyphicon-trash'></span></button>
            <span class="glyphicon glyphicon-info-sign mess-info" ng-show="counterparty.assigned" title="Видалення не можливе. Контрагент має зв’язки."></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

