ng-include src='"#{asset_path('angular/shared/header.html')}"'
.counterparties
  | {{ 'counterparties' | translate }}
  .ctrl
    .form
      form ng-submit="add()"
        table
          tr
            th translate="name"
            th translate="date"
            th translate="type"
            th
          tr
            td
              input ng-model="newCounterparty.name" type="text"
              br
              span.error
                | {{newCounterparty.errors.name[0]}}
            td
              input#start_date ng-model="newCounterparty.start_date" type="text"
            td
              .select-types
                select class="сounterparty-types" ng-model="newCounterparty.type"
                  option ng-init="conversionSelect($last)" ng-repeat="type in types" translate="{{type.text}}" value="{{type.value}}"
                br
                span.error
                  | {{newCounterparty.errors.type[0]}}
            td
              button.btn translate="NewArticle" type="submit"
    a.show_monthly_payment href="" ng-click="showMonthlyPayment = !showMonthlyPayment"
      | {{ 'monthly_payment' | translate }}
      span ng-show="!showMonthlyPayment"
        | ({{ 'show' | translate }})
      span ng-show=" showMonthlyPayment"
        | ({{ 'hide' | translate }})
    ul.nav.nav-tabs
      li ng-class="{'active': showGroup == 'Customer'}"
        a href="" ng-click="changeGroup('Customer')" translate="Customers"
      li ng-class="{'active': showGroup == 'Vendor'}"
        a href="" ng-click="changeGroup('Vendor')" translate="Vendors"
      li ng-class="{'active': showGroup == 'Other'}"
        a href="" ng-click="changeGroup('Other')" translate="Others"
    .tab-content
      .tab-pane ng-class="{'active': showGroup == 'Customer'}"
        ng-include src='"#{asset_path('angular/shared/_conterpaties.html')}"'
      .tab-pane ng-class="{'active': showGroup == 'Vendor'}"
        ng-include src='"#{asset_path('angular/shared/_conterpaties.html')}"'
      .tab-pane ng-class="{'active': showGroup == 'Other'}"
        ng-include src='"#{asset_path('angular/shared/_conterpaties.html')}"'
