<div class="registers">
  <ng-include src="'<%= asset_path('angular/shared/header.html.erb') %>'"></ng-include>
  <div class='name-sandbox' ng-init="sandbox=true">{{ 'sandbox' | translate }}</div>
  <ng-include src="'<%= asset_path('angular/shared/registers.html.erb') %>'"></ng-include>
</div>
