<div class='report'>
  <ng-include src="'<%= asset_path('angular/shared/header.html.erb') %>'"></ng-include>
  <div class='picker-wrapper'>
    <div class='multiple-picker'>
      <label for="{{month}}" ng-init='clicked = currentMonth == month' class="picker-label" ng-click='clicked=!clicked; monthsChange(month, clicked)' ng-repeat='month in months' ng-class='{checked_label: clicked}'>{{month}}</label>
    </div>
  </div>

  <div>
    <div class='values'>
      <div class='left'>&nbsp</div>
      <div class='value bold' ng-repeat="month in months" ng-show="isShow(parseMonthName(month))">
        {{month}}
      </div>
    </div>

    <div class='values bold report-item'>
      <div class='left'>{{ 'Revenue' | translate }}</div>
      <div class='pointer value pointer' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-click='getRegisters(month, $event, "revenues", null)'>
        {{totalRevenue[month] || 0}}
      </div>
    </div>

    <div ng-repeat="revenue in revenues">
      <div class='values report-item'>
        <div class='left'>
          {{revenue.article}}
          <label class="collapse-count" ng-click='showCount=!showCount'>
            <span ng-show='!showCount'>&#9650;</span>
            <span ng-show='showCount'>&#9660;</span>
          </label>
        </div>
        <div class='pointer value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-click='getRegisters(month, $event, "revenues", revenue.article_id)'>
          {{revenue.values[month]}}
        </div>
      </div>

      <div ng-repeat="c in revenue.counterparties" class='values {{revenue.article_type}}' ng-show="showCount">
        <div class='left counterparty'>{{c.counterparty}}</div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)">
          {{c.values[month]}}
        </div>
      </div>
    </div>

    <div class='clearboth'></div>

    <div class='values bold report-item'>
      <div class='left'>{{ 'Cost' | translate }}</div>
      <div class='pointer value' ng-repeat='month in range(1,12)' ng-show='isShow(month)' ng-click='getRegisters(month, $event, "costs", null)'>
        {{totalCost[month] || 0}}
      </div>
    </div>

    <div ng-repeat='cost in costs'>
      <div class='values report-item'>
        <div class='left'>
          {{cost.article}}
          <label class="collapse-count" ng-click='showCount=!showCount'>
            <span ng-show='!showCount'>&#9650;</span>
            <span ng-show='showCount'>&#9660;</span>
          </label>
        </div>
        <div class='pointer value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-click='getRegisters(month, $event, "costs", cost.article_id)'>
          {{cost.values[month]}}
        </div>
      </div>

      <div ng-repeat="c in cost.counterparties" class='values {{cost.article_type}}' ng-show="showCount">
        <div class='left counterparty'>{{c.counterparty}}</div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)">
          {{c.values[month]}}
        </div>
      </div>
    </div>

    <div class='clearboth'></div>

    <div class='values bold'>
      <div class='left'>{{ 'profit' | translate }}</div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)">
        {{(totalRevenue[month] - totalCost[month]).toFixed(2)}}
      </div>
    </div>

    <div class='clearboth'></div>

    <div class='values bold report-item'>
      <div class='left'>{{ 'Translation' | translate }}</div>
      <div class='pointer value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-click='getRegisters(month, $event, "translations", null)'>
        {{totalTranslation[month] || 0}}
      </div>
    </div>

    <div ng-repeat="translation in translations">
      <div class='values report-item'>
        <div class='left'>
          {{translation.article}}
          <label class="collapse-count" ng-click='showCount=!showCount'>
            <span ng-show='!showCount'>&#9650;</span>
            <span ng-show='showCount'>&#9660;</span>
          </label>
        </div>
        <div class='pointer value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-click='getRegisters(month, $event, "translations", translation.article_id)'>
          {{translation.values[month]}}
        </div>
      </div>

      <div ng-repeat="c in translation.counterparties" class='values {{translation.article_type}}' ng-show="showCount">
        <div class='left counterparty'>{{c.counterparty}}</div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)">
          {{c.values[month]}}
        </div>
      </div>
    </div>

  </div>
</div>

<div id='registers-table-template' ng-hide='true'>
  <table class="ng-scope registers-table">
    <tr class='header'>
      <th translate='date'></th>
      <th translate='article'></th>
      <th translate='counterparty'></th>
      <th translate='totall'></th>
      <th></th>
    </tr>
  </table>
</div>
