<div class='report'>
  <ng-include src="'<%= asset_path('angular/shared/header.html.erb') %>'"></ng-include>
  <div class='picker-wrapper'>
    <div class='multiple-picker'>
      <label for="{{month}}" ng-init='clicked = currentMonth == month' class="picker-label" ng-click='clicked=!clicked; monthsChange(month, clicked)' ng-repeat='month in months' ng-class='{checked_label: clicked}'>{{month}}</label>
    </div>
  </div>

  <span> Всі плани:</span>
  <a class='pointer' ng-click='funcPlan.showAll(true)' ng-show="funcPlan.showComand('show')">Показати</a>
  <span ng-show="funcPlan.showComand('show') && funcPlan.showComand('hide')"> | </span>
  <a class='pointer' ng-click='funcPlan.showAll()' ng-show="funcPlan.showComand('hide')">Сховати</a>

  <div>
    <div class='values'>
      <div class='left'>&nbsp</div>
      <div class='value bold' ng-repeat="month in months" ng-show="isShow(parseMonthName(month))" ng-class='{plan_show: showPlan, month_height: showPlan}'>
        <div>{{month}}</div>
        <div ng-show='showPlan'>
          <span class="plan">по плану</span>
          <span class="fact" ng-class="{add_background: showPlan}">по факту</span>
        </div>
      </div>
    </div>

    <div class='values bold report-item'>
      <div class='left'>{{ 'Revenue' | translate }}</div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
        <span ng-show='showPlan' class='plan'>{{totalRevenuePlan[month] || 0}}</span>
        <span class='pointer fact' ng-class="{add_background: showPlan}" ng-click='getRegisters(month, $event, "revenues", null)'>{{totalRevenue[month] || 0}}</span>
      </div>
    </div>

    <div ng-repeat="revenue in revenues" ng-show='funcPlan.showRecord(revenue)'>
      <div class='values report-item'>
        <div class='left'>
          {{revenue.article}}
          <label class="collapse-count" ng-click='showCount=!showCount' ng-show='funcPlan.showCarrot(revenue.counterparties)'>
            <span ng-show='!showCount'>&#9660;</span>
            <span ng-show='showCount'>&#9650;</span>
          </label>
        </div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
          <span ng-show='showPlan' class='plan'>{{revenue.valuesPlan[month]}}</span>
          <span class='pointer fact' ng-class="{add_background: showPlan}" ng-click='getRegisters(month, $event, "revenues", revenue.article_id)'>{{revenue.values[month]}}</span>
        </div>
      </div>

      <div ng-repeat="c in revenue.counterparties" class='values {{revenue.article_type}}' ng-show="showCount && funcPlan.showRecord(c)">
        <div class='left counterparty'>{{c.counterparty}}</div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
          <span ng-show='showPlan' class='plan'>{{c.valuesPlan[month]}}</span>
          <span class='fact' ng-class="{add_background: showPlan}">{{c.values[month]}}</span>
        </div>
      </div>
    </div>

    <div class='values'>
      <div class='clearboth_report'></div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
        <span class='plan clearboth_height' ng-show='showPlan'></span>
        <span class='fact clearboth_height' ng-class="{add_background: showPlan}"></span>
      </div>
    </div>

    <div class='values bold report-item'>
      <div class='left'>{{ 'Cost' | translate }}</div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
        <span ng-show='showPlan' class='plan'>{{totalCostPlan[month] || 0}}</span>
        <span class='pointer fact' ng-class="{add_background: showPlan}" ng-click='getRegisters(month, $event, "costs", null)'>{{totalCost[month] || 0}}</span>
      </div>
    </div>

    <div ng-repeat='cost in costs' ng-show='funcPlan.showRecord(cost)'>
      <div class='values report-item'>
        <div class='left'>
          {{cost.article}}
          <label class="collapse-count" ng-click='showCount=!showCount' ng-show='funcPlan.showCarrot(cost.counterparties)'>
            <span ng-show='!showCount'>&#9660;</span>
            <span ng-show='showCount'>&#9650;</span>
          </label>
        </div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
          <span ng-show='showPlan' class='plan'>{{cost.valuesPlan[month]}}</span>
          <span class='pointer fact' ng-class="{add_background: showPlan}" ng-click='getRegisters(month, $event, "costs", cost.article_id)'>{{cost.values[month]}}</span>
        </div>
      </div>

      <div ng-repeat="c in cost.counterparties" class='values {{cost.article_type}}' ng-show="showCount && funcPlan.showRecord(c)">
        <div class='left counterparty'>{{c.counterparty}}</div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
          <span ng-show='showPlan' class='plan'>{{c.valuesPlan[month]}}</span>
          <span class='fact' ng-class="{add_background: showPlan}">{{c.values[month]}}</span>
        </div>
      </div>
    </div>

    <div class='values'>
      <div class='clearboth_report'></div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
        <span class='plan clearboth_height' ng-show='showPlan'></span>
        <span class='fact clearboth_height' ng-class="{add_background: showPlan}"></span>
      </div>
    </div>

    <div class='values bold'>
      <div class='left'>{{ 'profit' | translate }}</div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
          <span ng-show='showPlan' class='plan'>{{(totalRevenuePlan[month] - totalCostPlan[month]).toFixed(2)}}</span>
          <span class='fact' ng-class="{add_background: showPlan}">{{(totalRevenue[month] - totalCost[month]).toFixed(2)}}</span>
        </div>
    </div>

    <div class='values'>
      <div class='clearboth_report'></div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
        <span class='plan clearboth_height' ng-show='showPlan'></span>
        <span class='fact clearboth_height' ng-class="{add_background: showPlan}"></span>
      </div>
    </div>

    <div class='values bold report-item'>
      <div class='left'>{{ 'Translation' | translate }}</div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
        <span ng-show='showPlan' class='plan'>{{totalTranslationPlan[month] || 0}}</span>
        <span class='pointer fact' ng-class="{add_background: showPlan}" ng-click='getRegisters(month, $event, "translations", null)'>{{totalTranslation[month] || 0}}</span>
      </div>
    </div>

    <div ng-repeat="translation in translations" ng-show='funcPlan.showRecord(translation)'>
      <div class='values report-item'>
        <div class='left'>
          {{translation.article}}
          <label class="collapse-count" ng-click='showCount=!showCount' ng-show='funcPlan.showCarrot(translation.counterparties)'>
            <span ng-show='!showCount'>&#9660;</span>
            <span ng-show='showCount'>&#9650;</span>
          </label>
        </div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
          <span ng-show='showPlan' class='plan'>{{translation.valuesPlan[month]}}</span>
          <span class='pointer fact' ng-class="{add_background: showPlan}" ng-click='getRegisters(month, $event, "translations", translation.article_id)'>{{translation.values[month]}}</span>
        </div>
      </div>

      <div ng-repeat="c in translation.counterparties" class='values {{translation.article_type}}' ng-show="showCount && funcPlan.showRecord(c)">
        <div class='left counterparty'>{{c.counterparty}}</div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: showPlan}'>
          <span ng-show='showPlan' class='plan'>{{c.valuesPlan[month]}}</span>
          <span class='fact' ng-class="{add_background: showPlan}">{{c.values[month]}}</span>
        </div>
      </div>
    </div>
</div>

<div id='registers-table-template' ng-hide='true'>
  <table class="ng-scope registers-table">
    <tr class='header'>
      <th translate='date'></th>
      <th translate='article'></th>
      <th translate='counterparty'></th>
      <th translate='totall'></th>
      <th></th>
    </tr>
  </table>
</div>
