<div class='report'>
  <ng-include src="'<%= asset_path('angular/shared/header.html.erb') %>'"></ng-include>
  <div class='picker-wrapper'>
    <select ng-model="year" class="selectpicker" ng-change="CheckYears(year)">
      <option ng-repeat="year in years" ng-selected="{{year==currYear}}">{{year}}</option>
    </select>
    <div class='multiple-picker'>
      <label for="{{month}}" ng-init='clicked = currentMonth == month' class="picker-label" ng-click='clicked=!clicked; monthsChange(month, clicked)' ng-repeat='month in months' ng-class='{checked_label: clicked}'>{{month}}</label>
    </div>
  </div>

  <span>{{ 'all_plans' | translate }}:</span>
  <a class='pointer' ng-click='funcPlan.showAll(true)' ng-show="funcPlan.showComand('show')">{{ 'show' | translate }}</a>
  <span ng-show="funcPlan.showComand('show') && funcPlan.showComand('hide')"> | </span>
  <a class='pointer' ng-click='funcPlan.showAll()' ng-show="funcPlan.showComand('hide')">{{ 'hide' | translate }}</a>

  <span class="rate_currency" ng-show="funcPlan.showComand('hide')">
    {{ 'rate_currency' | translate }}
    <input type="text" ng-model="rateDollar" class="value">
    <button ng-click='loadDates()'>{{ 'update' | translate }}</button>
  </span>

  <div>
    <div class='values'>
      <div class='left'>&nbsp</div>
      <div class='value bold' ng-repeat="month in months" ng-show="isShow(parseMonthName(month))" ng-class='{plan_show: funcPlan.show[$index], month_height: funcPlan.show[$index]}'>
        <div>
          {{month}}
          <label ng-click='funcPlan.show[$index]=!funcPlan.show[$index]'>
            <span class='glyphicon glyphicon-cog pointer' title="{{ 'plan_month' | translate }}"></span>
          </label>
        </div>
        <div ng-show='funcPlan.show[$index]'>
          <span class="plan">{{ 'on_plan' | translate }}</span>
          <span class="fact" ng-class="{add_background: funcPlan.show[$index]}">{{ 'in_fact' | translate }}</span>
        </div>
      </div>
    </div>

    <div class='values bold report-item'>
      <div class='left'>{{ 'Revenue' | translate }}</div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
        <span ng-show='funcPlan.show[$index]' class='pointer plan' ng-click='getRegisters(month, $event, "revenues", null, true)'>{{totalRevenuePlan[month] || 0}}</span>
        <span class='pointer fact' ng-class="{add_background: funcPlan.show[$index]}" ng-click='getRegisters(month, $event, "revenues", null, null)'>{{totalRevenue[month] || 0}}</span>
      </div>
    </div>

    <div ng-repeat="revenue in revenues" ng-show='funcPlan.showRecord(revenue)'>
      <div class='values report-item'>
        <div class='left'>
          {{revenue.article}}
          <label class="collapse-count" ng-click='showCount=!showCount' ng-show='funcPlan.showCarrot(revenue.counterparties)'>
            <span ng-show='!showCount'>&#9660;</span>
            <span ng-show='showCount'>&#9650;</span>
          </label>
        </div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
          <span ng-show='funcPlan.show[$index]' class='pointer plan' ng-click='getRegisters(month, $event, "revenues", revenue.article_id, true)'>{{revenue.valuesPlan[month]}}</span>
          <span class='pointer fact' ng-class="{add_background: funcPlan.show[$index]}" ng-click='getRegisters(month, $event, "revenues", revenue.article_id, null)'>{{revenue.values[month]}}</span>
        </div>
      </div>

      <div ng-repeat="c in revenue.counterparties" class='values {{revenue.article_type}}' ng-show="showCount && funcPlan.showRecord(c)">
        <div class='left counterparty'>{{c.counterparty}}</div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
          <span ng-show='funcPlan.show[$index]' class='plan'>{{c.valuesPlan[month]}}</span>
          <span class='fact' ng-class="{add_background: funcPlan.show[$index]}">{{c.values[month]}}</span>
        </div>
      </div>
    </div>

    <ng-include src="'<%= asset_path('angular/shared/clearbord_reports.html') %>'"></ng-include>

    <div class='values bold report-item'>
      <div class='left'>{{ 'Cost' | translate }}</div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
        <span ng-show='funcPlan.show[$index]' class='pointer plan' ng-click='getRegisters(month, $event, "costs", null, true)'>{{totalCostPlan[month] || 0}}</span>
        <span class='pointer fact' ng-class="{add_background: funcPlan.show[$index]}" ng-click='getRegisters(month, $event, "costs", null, null)'>{{totalCost[month] || 0}}</span>
      </div>
    </div>

    <div ng-repeat='cost in costs' ng-show='funcPlan.showRecord(cost)'>
      <div class='values report-item'>
        <div class='left'>
          {{cost.article}}
          <label class="collapse-count" ng-click='showCount=!showCount' ng-show='funcPlan.showCarrot(cost.counterparties)'>
            <span ng-show='!showCount'>&#9660;</span>
            <span ng-show='showCount'>&#9650;</span>
          </label>
        </div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
          <span ng-show='funcPlan.show[$index]' class='pointer plan' ng-click='getRegisters(month, $event, "costs", cost.article_id, true)'>{{cost.valuesPlan[month]}}</span>
          <span class='pointer fact' ng-class="{add_background: funcPlan.show[$index]}" ng-click='getRegisters(month, $event, "costs", cost.article_id, null)'>{{cost.values[month]}}</span>
        </div>
      </div>

      <div ng-repeat="c in cost.counterparties" class='values {{cost.article_type}}' ng-show="showCount && funcPlan.showRecord(c)">
        <div class='left counterparty'>{{c.counterparty}}</div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
          <span ng-show='funcPlan.show[$index]' class='plan'>{{c.valuesPlan[month]}}</span>
          <span class='fact' ng-class="{add_background: funcPlan.show[$index]}">{{c.values[month]}}</span>
        </div>
      </div>
    </div>

    <ng-include src="'<%= asset_path('angular/shared/clearbord_reports.html') %>'"></ng-include>

    <div class='values bold'>
      <div class='left'>{{ 'profit' | translate }}</div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
          <span ng-show='funcPlan.show[$index]' class='plan'>{{(totalRevenuePlan[month] - totalCostPlan[month]).toFixed(2)}}</span>
          <span class='fact' ng-class="{add_background: funcPlan.show[$index]}">{{(totalRevenue[month] - totalCost[month]).toFixed(2)}}</span>
        </div>
    </div>

    <ng-include src="'<%= asset_path('angular/shared/clearbord_reports.html') %>'"></ng-include>

    <div class='values bold report-item'>
      <div class='left'>{{ 'Translation' | translate }}</div>
      <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
        <span ng-show='funcPlan.show[$index]' class='pointer plan' ng-click='getRegisters(month, $event, "translations", null, true)'>{{totalTranslationPlan[month] || 0}}</span>
        <span class='pointer fact' ng-class="{add_background: funcPlan.show[$index]}" ng-click='getRegisters(month, $event, "translations", null, null)'>{{totalTranslation[month] || 0}}</span>
      </div>
    </div>

    <div ng-repeat="translation in translations" ng-show='funcPlan.showRecord(translation)'>
      <div class='values report-item'>
        <div class='left'>
          {{translation.article}}
          <label class="collapse-count" ng-click='showCount=!showCount' ng-show='funcPlan.showCarrot(translation.counterparties)'>
            <span ng-show='!showCount'>&#9660;</span>
            <span ng-show='showCount'>&#9650;</span>
          </label>
        </div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
          <span ng-show='funcPlan.show[$index]' class='pointer plan' ng-click='getRegisters(month, $event, "translations", translation.article_id, true)'>{{translation.valuesPlan[month]}}</span>
          <span class='pointer fact' ng-class="{add_background: funcPlan.show[$index]}" ng-click='getRegisters(month, $event, "translations", translation.article_id, null)'>{{translation.values[month]}}</span>
        </div>
      </div>

      <div ng-repeat="c in translation.counterparties" class='values {{translation.article_type}}' ng-show="showCount && funcPlan.showRecord(c)">
        <div class='left counterparty'>{{c.counterparty}}</div>
        <div class='value' ng-repeat="month in range(1,12)" ng-show="isShow(month)" ng-class='{plan_show: funcPlan.show[$index]}'>
          <span ng-show='funcPlan.show[$index]' class='plan'>{{c.valuesPlan[month]}}</span>
          <span class='fact' ng-class="{add_background: funcPlan.show[$index]}">{{c.values[month]}}</span>
        </div>
      </div>
    </div>
</div>

<div id='registers-table-template' ng-hide='true'>
  <table class="ng-scope registers-table" ng-class='{table_plan: sandbox}'>
    <tr class='header'>
      <th translate='date'></th>
      <th translate='article'></th>
      <th translate='counterparty'></th>
      <th translate='totall'></th>
      <th></th>
    </tr>
  </table>
</div>
