= render partial: 'shared/navbar'

.counterparties
  Контрагенти
  .ctrl{'ng-controller' => 'CounterpartiesCtrl'}
    .form
      %form{'ng-submit' => 'add()'}
        %input{'type' => 'text', 'ng-model' => 'newCounterparty.name'}
        %button{type: 'submit'}
          Додати

    .list
      %ul{'ng-repeat' => 'counterparty in counterparties'}
        %li
          %span.name{'editable-text' => 'counterparty.name', 'onbeforesave' => 'update(counterparty.id, $data)'}
            {{ counterparty.name }}
          |
          %a.delete{'href' => 'javascript: void(false);', 'ng-click' => 'delete(counterparty.id)'}
            Видалити

.articles
  Статті
  .ctrl{'ng-controller' => 'ArticlesCtrl'}
    .form
      %form{'ng-submit' => 'add()'}
        %input{'type' => 'text', 'ng-model' => 'newArticle.name'}
        %select{'ng-model' => 'newArticle.type'}
          %option{'value' => 'Revenue'} Надходження
          %option{'value' => 'Cost'} Витрати
          %option{'value' => 'Translation'} Трансляція
        %button{type: 'submit'}
          Додати

    .list
      %ul{'ng-repeat' => 'article in articles'}
        %li
          %span.name{'editable-text' => 'article.name', 'onbeforesave' => 'update(article.id, $data)'}
            {{ article.name }}
            %span.article_type{'class' => "{{article.type}}"} ({{ article.type_msg }})
          |
          %a.delete{'href' => 'javascript: void(false);', 'ng-click' => 'delete(article.id)'}
            Видалити
