<div class="list">
  <table>
    <tr>
      <td class="name-block">
        {{ 'activ_cont' | translate }} ({{ activeCounterparties.length }}):
      </td>
    </tr>
    <tr>
      <th translate='name'></th>
      <th translate='date' class="editDate"></th>
      <th translate='payment' ng-show='showMonthlyPayment'></th>
      <th></th>
    </tr>
    <tr class="list-count-article list_{{ counterparty.active }}" ng-repeat="counterparty in activeCounterparties" ng-class="{stand_out: counterparty.monthly_payment && showMonthlyPayment}" repeat-complete>
      <td>
        <span class="name" editable-text="counterparty.name" e-name="name" e-form="rowform" e-ng-focus="conversionSelect(conversion = true)" e-required>
          {{ counterparty.name }}
        </span>
      </td>
      <td class="editDate">
        <span e-class="start_date" e-ng-click="openDatepicker()" class="date" editable-text="counterparty.start_date" e-name="start_date" e-form="rowform" ng-click='datepicker()'>
          {{ counterparty.start_date }}
        </span>
      </td>
      <td class="monthly_payment" ng-show='showMonthlyPayment || rowform.$visible'>
        <span editable-checkbox="counterparty.monthly_payment" e-name="monthly_payment" e-form="rowform" e-title="{{ 'monthly_payment' | translate }}"></span>
        <span ng-show='counterparty.monthly_payment' editable-text="counterparty.value_payment" e-name="value_payment" e-form="rowform" e-class='input_payment'>
          {{ counterparty.value_payment }}
        </span>
      </td>
      <td>
        <span editable-select="counterparty.type" e-class="Ñounterparty-types" e-name="type" e-form="rowform" e-ng-options="q.value as (q.text|translate) for q in types" e-title="{{ 'type' | translate }}">
        </span>
      </td>
      <td>
        <span class="active" editable-checkbox="counterparty.active" e-name="active" e-form="rowform" e-title="{{ 'activity' | translate }}">
        </span>
      </td>
      <td class ="edit_icon" >
        <div class="butn" ng-show="!rowform.$visible">
          <button type="button" class='icon-button hidde' ng-click="rowform.$show()" title="{{ 'edit_reg' | translate }}"><span class='glyphicon glyphicon-edit'></span></button>
          <span class="hidde glyphicon glyphicon-info-sign mess-info" ng-show="counterparty.assigned && !rowform.$visible" title="{{ 'deleteInfo' | translate }}">
          </span>
          <button type="button" class='icon-button hidde' ng-show="!counterparty.assigned" ng-click="delete(counterparty.id, $index, true)" title="{{ 'delete_reg' | translate }}"><span class='glyphicon glyphicon-trash'></span></button>
        </div>
        <form editable-form name="rowform" onbeforesave="update(counterparty.id, $data, $index, true)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == counterparty">
          <button type="submit" class='icon-button' ng-disabled="rowform.$waiting" title="{{ 'save_changes' | translate }}"><span class='glyphicon glyphicon-check'></span></button>
          <button type="button" class='icon-button' ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="{{ 'cancel' | translate }}"><span class='glyphicon glyphicon-remove'></span></button>
        </form>
      </td>
      <td class="monthly_payment">
        <div class="alert alert-warning alert-dismissable" ng-show='!counterparty.successful_payment && counterparty.monthly_payment && endOfMonth()'>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{ 'warning' | translate }}</strong> {{ 'info_monthly_payment' | translate }}
        </div>
      </td>
    </tr>
  </table>

  <div class='clearboth'></div>

  <table>
    <tr>
      <td class="name-block">
        {{ 'inacti_cont' | translate }} ({{ inactiveCounterparties.length }}):
      </td>
    </tr>
    <tr>
      <th translate='name'></th>
      <th translate='date'></th>
    </tr>
    <tr class="list-count-article list_{{ counterparty.active }}" ng-repeat="counterparty in inactiveCounterparties">
      <td>
        <span class="name" editable-text="counterparty.name" e-name="name" e-form="rowform" e-required>
          {{ counterparty.name }}
        </span>
      </td>
      <td class="editDate">
        <span e-class="start_date" e-ng-click="openDatepicker()" class="date" editable-text="counterparty.start_date" e-name="start_date" e-form="rowform" ng-click='datepicker()'>
          {{ counterparty.start_date }}
        </span>
      </td>
      <td>
        <span editable-checkbox="counterparty.active" e-name="active" e-form="rowform" e-title="Active?"></span>
      </td>
      <td class ="edit_icon">
        <div class="butn" ng-show="!rowform.$visible">
          <button type="button" class='icon-button hidde' ng-click="rowform.$show()"><span class='glyphicon glyphicon-edit'></span></button>
          <span class="hidde glyphicon glyphicon-info-sign mess-info" ng-show="counterparty.assigned && !rowform.$visible" title="{{ 'deleteInfo' | translate }}">
          </span>
          <button type="button" class='icon-button hidde' ng-show="!counterparty.assigned" ng-click="delete(counterparty.id, $index, false)"><span class='glyphicon glyphicon-trash'></span></button>
        </div>
        <form editable-form name="rowform" onbeforesave="update(counterparty.id, $data, $index, false)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == counterparty">
          <button type="submit" class='icon-button' ng-disabled="rowform.$waiting"><span class='glyphicon glyphicon-check'></span></button>
          <button type="button" class='icon-button' ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"><span class='glyphicon glyphicon-remove'></span></button>
        </form>
      </td>
    </tr>
  </table>
</div>
