<div class="links">
  <a href="/#/counterparties" translate="counterparties" ></a>
  <a href="/#/articles" translate="articles"></a>
  <a href="/" translate="register"></a>
  <a href="/#/registersPlan">ПлановийРеєстр</a>
  <a href="/#/reports" translate="reports" ></a>
  <a href="/#/charts" translate="charts" ></a>
</div>
<div class="locale">
  <a href="#" ng-click="changeLanguage('uk')"><%= image_tag "ua.png" %>
  </a>
  <a href="#" ng-click="changeLanguage('en')"><%= image_tag "gb.png" %>
  </a>
</div>
<div class="clearboth"></div>
