<div class="ctrl ng-scope" ng-controller="RegistersCtrl">
  <div class="form">
    <form ng-submit="add()" class="ng-pristine ng-valid">
      <table cellspacing="0">
        <tr>
          <th translate='date'></th>
          <th translate='article'></th>
          <th translate='counterparty'></th>
          <th translate='totall'></th>
          <th translate='note'></th>
        </tr>
        <tr>
          <td>
            <input type="text" id='date' ng-model="newRegister.date" class="input_data ng-pristine ng-valid">
          </td>
          <td>
            <select ng-model="newRegister.article_id" class='article clear_after_add'>
              <option ng-repeat="article in articles" value={{article.id}} >
              {{article.name}} ({{article.type | translate}})
              </option>
            </select>
          </td>
          <td>
            <select ng-model="newRegister.counterparty_id" class='counterparty clear_after_add'>
              <option ng-repeat="counterparty in counterparties" value={{counterparty.id}}>
              {{counterparty.name}}
              </option>
            </select>
          </td>
          <td ng-class="{td_correction: sandbox}">
            <input type="text" ng-model="newRegister.value" class='value' ng-class="{value_plan: sandbox}">
            <select ng-model="newRegister.currency" ng-options="q.value as q.text for q in currencies" class='currency' ng-show="sandbox"></select>
          <td>
            <input type="text" ng-model="newRegister.notes">
          </td>
          <td>
            <button class="btn" type="submit" translate='NewArticle'></button>
          </td>
        </tr>
        <tr>
          <td>
            <span class='error'>{{newRegister.errors.date[0]}}</span>
          </td>
          <td>
            <span class='error'>{{newRegister.errors.article[0]}}</span>
          </td>
          <td>
          </td>
          <td>
           <span class='error'>{{newRegister.errors.value[0]}}</span>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div class="list">
    <span class="rate_currency" ng-show="sandbox">
      {{ 'rate_currency' | translate }}
      <input type="text" ng-model="rateDollar" ng-change="changeValue()" class="value">
    </span>

    <a ng-click="showlistCount = !showlistCount" href="" class="show_list_count" ng-show='counterpartiesWithoutPay.length>0 && !showlistCount'>
      {{ 'show' | translate }}: {{ 'count_without_pay' | translate }}
    </a>

    <form ng-submit="filter.fetchRegisters({initLoad: true})" class="form-filter ng-pristine ng-valid" ng-class="{open_form_filter: filter.active}">
      <div class="head_filter" ng-show="filter.active">
        <span>{{ 'filter' | translate }}</span>
        <span class='position_right'>
          <button type="button" class='icon-button' ng-click="filter.active = !filter.active" title="{{ 'close' | translate }} {{ 'filter' | translate }}"><span class='glyphicon glyphicon-remove'></span></button>
        </span>
      </div>
      <table ng-class="{position_left: filter.active}">
        <tr>
          <th>
            {{ 'month' | translate }}
            <i class='info_or' ng-show="filter.active">{{ 'or' | translate }}</i>
          </th>
        </tr>
        <tr>
          <td>
            <input type='text' ng-model="filter.data.month" id='month-picker' class='input_data' ng-change='filter.changeMonth()'>
          </td>
           <td ng-show="!filter.active">
            <a ng-click="filter.show()" href="javascript: void(false);" class="filter">
              {{ 'show' | translate }}: {{ 'filter' | translate }}
            </a>
          </td>
        </tr>
      </table>
      <table ng-show="filter.active" ng-class="{position_left: filter.active}">
        <tr>
          <th>{{ 'date' | translate }}</th>
          <th>{{ 'articles' | translate }}</th>
          <th>{{ 'counterparty' | translate }}</th>
          <th>{{ 'totall_min' | translate }}</th>
        </tr>
        <tr>
          <td>
            <input type="text" id='dateFilter' ng-model="filter.data.date" class="input_data ng-pristine ng-valid" ng-change='filter.data.month = undefined'>  
          </td>
          <td>
            <select class='article search' ng-model="filter.data.article_id">
              <option ng-repeat="type in articleTypes" value={{type.value}}>
              {{type.text}}
              </option>
              <option ng-repeat="article in articles" value={{article.id}}>
              {{article.name}} ({{article.type | translate}})
              </option>
            </select>
          </td>
          <td>
            <select class='counterparty search' ng-model="filter.data.counterparty_id">
              <option ng-repeat="counterparty in counterparties" value={{counterparty.id}}>
                {{counterparty.name}}
              </option>
            </select>
          </td>
          <td>
            <input type="text" class="value search" ng-model="filter.data.value">
          </td>
          <td>
            <button type="submit" class='icon-button' title="{{ 'searchFilter' | translate }}"><span class='glyphicon glyphicon-search'></span></button>
            <button type="button" class='icon-button' ng-click="filter.clear(); filter.data.month=undenfined" title="{{ 'clearForm' | translate }}"><span class='glyphicon glyphicon-repeat'></span></button>
          </td>
        </tr>
      </table>
    </form>

    <div class='list_count_block' ng-show='showlistCount && counterpartiesWithoutPay.length>0'>
      <h4 class='name_block'>{{ 'count_without_pay' | translate }}</h4>
      <span class='list_count'>
        <table class='table table-striped'>
          <tr>
            <th>{{ 'counterparties' | translate }}</th>
            <th class='width_35'>{{ 'monthly_payment' | translate }}</th>
          </tr>
          <tr ng-repeat="counterparties in counterpartiesWithoutPay">
            <td>{{counterparties.name}}</td>
            <td class='text_right width_35'>{{counterparties.value_payment}}</td>
          </tr>
        </table>
        <button type="button" class='icon-button' ng-click="showlistCount = !showlistCount" title="{{ 'closed' | translate }}">
          <span class='glyphicon glyphicon-remove'></span>
        </button>
      </span>
    </div>

    <table class="ng-scope register" ng-show='registers.length>0'>
      <tr>
        <th class='date'>
          <a href='' ng-class="{'up_arrow' : predicate=='date_reverse' && reverse, 'down_arrow' : predicate=='date_reverse' && !reverse}" ng-click="predicate='date_reverse'; reverse=!reverse">{{ 'date' | translate }}</a>
        </th>
        <th class='article'>
          <a href='' ng-class="{'up_arrow' : predicate=='article.name' && reverse, 'down_arrow' : predicate=='article.name' && !reverse}" ng-click="predicate='article.name'; reverse=!reverse">{{ 'article' | translate }}</a>
        </th>
        <th>
          <a href='' ng-class="{'up_arrow' : predicate=='counterparty.name' && reverse, 'down_arrow' : predicate=='counterparty.name' && !reverse}" ng-click="predicate='counterparty.name'; reverse=!reverse">{{ 'counterparty' | translate }}</a>
        </th>
        <th>
          <a href='' ng-class="{'up_arrow' : predicate=='value_currency' && reverse, 'down_arrow' : predicate=='value_currency' && !reverse}" ng-click="predicate='value_currency'; reverse=!reverse">{{ 'totall' | translate }}</a>
        </th>
        <th translate='notes'>
        </th>
      </tr>
      <tr ng-repeat="register in registers | orderBy:predicate:reverse" style="background: {{ register.background }}" repeat-complete>
        <td>
          <span e-class="dateup" e-ng-click="openDatepicker()" e-ng-focus="showSelect()" editable-text="register.date" e-name="date" e-form="rowform">
            <div class="buttons" ng-show="!rowform.$visible">
              {{ register.date }}
            </div>
          </span>
          <span class='errors' ng-show='response_id == register.id'>{{errors.date}}</span>
        </td>
        <td>
          <span editable-select="register.article.id" e-class="search-select" e-name="article_id" e-form="rowform"  e-ng-options="s.id as (s.name + ' (' + (s.type|translate) + ')') for s in articles">
            <div class="buttons" ng-show="!rowform.$visible">
              {{register.article.name}}
              <span class="{{ register.article.type }} article_type" >({{register.article.type | translate}})
              </span>
            </div>
          </span>
        </td>
        <td>
          <span editable-select="register.counterparty.id" e-class="search-select" e-name="counterparty_id" e-form="rowform" e-ng-options="s.id as s.name for s in counterparties">
            <div class="buttons" ng-show="!rowform.$visible">
              {{ register.counterparty.name }}
            </div>
          </span>
        </td>
        <td class="td_correction">
          <span editable-text="register.value" e-class="value" e-name="value" e-form="rowform" e-ng-class="{value_plan: sandbox}">
            <span class="buttons" ng-show="!rowform.$visible">
              <span>{{ register.value_currency }}</span>
              <span ng-show='register.currency == "USD"'>({{ register.value }} $)</span>
            </span>
          </span>
          <span editable-select="register.currency" e-name="currency" e-form="rowform" e-class="currency" e-ng-options="q.value as q.text for q in currencies" e-ng-show="sandbox"></span>
          <span class='errors' ng-show='response_id == register.id'>{{errors.value}}</span>
        </td>
        <td>
          <span editable-text="register.notes" e-name="notes" e-form="rowform">
            <div class="buttons" ng-show="!rowform.$visible">
              {{ register.notes }}
            </div>
          </span>
        </td>
        <td class="td_icon">
          <form editable-form name="rowform" onbeforesave="update(register, $data)" ng-show="rowform.$visible" class="form-buttons form-inline">
            <button type="submit" class='icon-button' ng-disabled="rowform.$waiting" title="{{ 'save_changes' | translate }}"><span class='glyphicon glyphicon-check'></span></button>
            <button type="button" class='icon-button' ng-disabled="rowform.$waiting" ng-click="rowform.$cancel(); clearError()" title="{{ 'cancel' | translate }}"><span class='glyphicon glyphicon-remove'></span></button>
          </form>
          <div class="buttons_record" ng-show="!rowform.$visible">
            <button type="button" class='icon-button hidd' ng-click="rowform.$show()" title="{{ 'edit_reg' | translate }}"><span class='glyphicon glyphicon-edit'></span></button>
            <button type="button" class='icon-button hidd' ng-click="delete(register)" title="{{ 'delete_reg' | translate }}"><span class='glyphicon glyphicon-trash'></span></button>
          </div>
          <span class="hidd" ng-show="!rowform.$visible" >
            <select ng-model="colorRecord" ng-change="update(register, {background: colorRecord}); register.background = colorRecord" class="color-record">
              <option value=""></option>
              <option value="#7bd148">Green</option>
              <option value="#5484ed">Bold blue</option>
              <option value="#a4bdfc">Blue</option>
              <option value="#46d6db">Turquoise</option>
              <option value="#fbd75b">Yellow</option>
              <option value="#ffb878">Orange</option>
              <option value="#ff887c">Red</option>
              <option value="#dbadff">Purple</option>
              <option value="#6A5ACD">SlateBlue</option>
              <option value="#00FFFF">Cyan</option>
              <option value="#7CFC00">LawnGreen</option>
              <option value="#FFD700">Gold</option>
              <option value="#CD5C5C">IndianRed</option>
              <option value="#D2691E">Chocolate</option>
              <option value="#FF1493">DeepPink</option>
              <option value="#9932CC">DarkOrchid</option>
              <option value="#009ACD">DeepSkyBlue</option>
              <option value="#B3EE3A">OliveDrab</option>
              <option value="#CD7054">Salmon</option>
              <option value="#D15FEE">MediumOrchid</option>
            </select>
          </span>
        </td>
      </tr>
    </table>
    <div class="load_records">
      <a ng-click='filter.fetchRegisters({})' ng-show='showLoadRecords' href=''>{{ 'more_records' | translate }}</a>
    </div>
    <div class='info-alas' ng-hide='registers.length>0'>
      <div class="alert alert-info alert-dismissable">
        <strong>{{ 'alas' | translate }}</strong>{{ 'info_not_found' | translate }}
      </div>
    </div>
  </div>
</div>
