<table class="ng-scope register_table" ng-show='show'>
  <tr>
    <th>Дата</th>
    <th>Стаття</th>
    <th>Контрагент</th>
    <th>Сума</th>
    <th></th>
  </tr>

  <tr ng-repeat='register in registers' ng-show='register.type == type && parseMonth(register.date, month)'>
    <td>
      {{ register.date }}
    </td>
    <td>
      {{ register.article.name }}
    </td>
    <td>
      {{ register.counterparty.name }}
    </td>
    <td>
      {{ register.value }}
    </td>
    <td>
      {{ register.notes }}
    </td>
  </tr>
</table>
