<div class="articles">
  Статті
  <div class="ctrl" ng-controller="ArticlesCtrl">
    <div class="form">
      <form ng-submit="add()">
        <input ng-model="newArticle.name" type="text" onbeforesave="checkName($data)"></input>
        <div class='form'>
          <select ng-model="newArticle.type">
            <option value="Revenue">Надходження</option>
            <option value="Cost">Витрати</option>
            <option value="Translation">Трансляція</option>
          </select>
          <br> <span class='error'>{{newArticle.errors.type[0]}}</span>
        </div>
        <button type="submit">
          Додати
        </button>
      </form>
    </div>
    <div class="list">
      <ul>
        <li ng-repeat="article in articles">
          <span class="name" editable-text="article.name" onbeforesave="checkName($data)" e-name="name" e-form="rowform" e-required>
            {{ article.name }}
          </span>
          <span class="{{ article.type }} article_type" editable-select="article.type" e-name="type" e-form="rowform" e-ng-options="s.value as s.text for s in type_msgs">
            ({{ article.type_msg }})
          </span>
          |
          <form editable-form name="rowform" onbeforesave="update(article.id, $data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == article">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">Зберегти</button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">Відміна</button>
          </form>
        <div class="btn" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">Змінити</button>
          <button class="btn btn-danger" ng-click="delete(article.id)">Видалити</button>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
