<div class="registers">
  <div class="ctrl ng-scope">
    <div class="form">
      <form ng-submit="add()" class="ng-pristine ng-valid">
        <table cellspacing="0">
          <tr>
            <th>
              Дата
            </th>
            <th>
              Стаття
            </th>
            <th>
              Контрагент
            </th>
            <th>
              Сума
            </th>
            <th>
              Примітка
            </th>
            <th></th>
          </tr>

          <tr>
            <td>
              <input type="text" id='date' ng-model="newRegister.date" class="ng-pristine ng-valid">
            </td>
            <td>
              <select ng-model="newRegister.article_id" id='article'>
                <option ng-repeat="article in articles" value={{article.id}}>
                {{article.name}} ({{article.type_msg}})
                </option>
              </select>
            </td>
            <td>
              <select ng-model="newRegister.counterparty_id" id='counterparty'>
                <option ng-repeat="counterparty in counterparties" value={{counterparty.id}}>
                {{counterparty.name}}
                </option>
              </select>
            </td>
            <td>
              <input type="text" ng-model="newRegister.value" id='value'>
            </td>
            <td>
              <input type="text" ng-model="newRegister.notes">
            </td>
            <td>
              <button type="submit">
                Додати
              </button>
            </td>
          </tr>

          <tr>
            <td>
              <span class='error'>{{newRegister.errors.date}}</span>
            </td>
            <td>
              <span class='error'>{{newRegister.errors.article}}</span>
            </td>
            <td>
            </td>
            <td>
             <span class='error'>{{newRegister.errors.value}}</span>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </table>
      </form>
    </div>

    <div class="list">
      <div class='month-picker-wrapper'>
        Місяць: <input type='text' id='month-picker'/>
      </div>
      <table class="ng-scope register">
        <tr>
          <th>
            <a href='' ng-class="{'up_arrow' : predicate=='date' && reverse, 'down_arrow' : predicate=='date' && !reverse}" ng-click="predicate='date'; reverse=!reverse">Дата</a>
          </th>
          <th>
            <a href='' ng-class="{'up_arrow' : predicate=='article' && reverse, 'down_arrow' : predicate=='article' && !reverse}" ng-click="predicate='article'; reverse=!reverse">Стаття</a>
          </th>
          <th>
            <a href='' ng-class="{'up_arrow' : predicate=='counterparty' && reverse, 'down_arrow' : predicate=='counterparty' && !reverse}" ng-click="predicate='counterparty'; reverse=!reverse">Контрагент</a>
          </th>
          <th>
            <a href='' ng-class="{'up_arrow' : predicate=='value' && reverse, 'down_arrow' : predicate=='value' && !reverse}" ng-click="predicate='value'; reverse=!reverse">Сума</a>
          </th>
          <th>
          </th>
        </tr>
        <tr ng-repeat="register in registers | orderBy:predicate:reverse" >
          <td>
            {{ register.date }}
          </td>
          <td>
            {{ register.article }}
          </td>
          <td>
            {{ register.counterparty }}
          </td>
          <td>
            {{ register.value }}
          </td>
          <td>
            {{ register.notes }}
          </td>
          <td>
            <a ng-click="delete(register.id)" href="javascript: void(false);" class="delete">
              Видалити
            </a>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
