<div class="registers">
  <ng-include src="'<%= asset_path('angular/shared/header.html.erb') %>'"></ng-include>
  <ng-include src="'<%= asset_path('angular/shared/registers.html.erb') %>'"></ng-include>
</div>
