<div class="registers">
  <div class="ctrl ng-scope">
    <div class="form">
      <form ng-submit="add()" class="ng-pristine ng-valid">
        <table cellspacing="0">
          <tr>
            <th>
              Дата
            </th>
            <th>
              Стаття
            </th>
            <th>
              Контрагент
            </th>
            <th>
              Сума
            </th>
            <th>
              Примітка
            </th>
            <th></th>
          </tr>
          <tr>
            <td>
              <input type="text" id='date' ng-model="newRegister.date" class="ng-pristine ng-valid">
            </td>
            <td>
              <select ng-model="newRegister.article_id" class='article'>
                <option ng-repeat="article in articles" value={{article.id}}>
                {{article.name}} ({{article.type_msg}})
                </option>
              </select>
            </td>
            <td>
              <select ng-model="newRegister.counterparty_id" class='counterparty'>
                <option ng-repeat="counterparty in counterparties" value={{counterparty.id}}>
                {{counterparty.name}}
                </option>
              </select>
            </td>
            <td>
              <input type="text" ng-model="newRegister.value" class='value'>
            </td>
            <td>
              <input type="text" ng-model="newRegister.notes">
            </td>
            <td>
              <button class="btn" type="submit">Додати</button>
            </td>
          </tr>
          <tr>
            <td>
              <span class='error'>{{newRegister.errors.date[0]}}</span>
            </td>
            <td>
              <span class='error'>{{newRegister.errors.article[0]}}</span>
            </td>
            <td>
            </td>
            <td>
             <span class='error'>{{newRegister.errors.value[0]}}</span>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="list">
      <div class='month-picker-wrapper'>
        Місяць: <input type='text' id='month-picker'/>
        <a ng-click="filter.show()" href="javascript: void(false);" class="filter">Фільтр</a>
      </div>
      <form ng-submit="filter.fetchRegisters()" ng-show ="filter.active" class="form-filter ng-pristine ng-valid">
        Дата:
        <input type="text" id='dateFilter' ng-model="filter.data.date" class="ng-pristine ng-valid">
        Статті:
        <select class='article search' ng-model="filter.data.article_id">
          <option ng-repeat="type in articleTypes" value={{type.value}}>
          {{type.text}}
          </option>
          <option ng-repeat="article in articles" value={{article.id}}>
          {{article.name}} ({{article.type_msg}})
          </option>
        </select>
        Контрагент:
        <select class='counterparty search' ng-model="filter.data.counterparty_id">
          <option ng-repeat="counterparty in counterparties" value={{counterparty.id}}>
            {{counterparty.name}}
          </option>
        </select>
        Сума(min):
        <input type="text" class="value search" ng-model="filter.data.value">
        <button type="submit" class='icon-button' title="Пошук за фільтром"><span class='glyphicon glyphicon-search'></span></button>
        <button type="button" class='icon-button' ng-click="filter.clear()" title="Очистити форму"><span class='glyphicon glyphicon-repeat'></span></button>
      </form>
      <table class="ng-scope register">
        <tr>
          <th class='date'>
            <a href='' ng-class="{'up_arrow' : predicate=='date' && reverse, 'down_arrow' : predicate=='date' && !reverse}" ng-click="predicate='date'; reverse=!reverse">Дата</a>
          </th>
          <th class='article'>
            <a href='' ng-class="{'up_arrow' : predicate=='article' && reverse, 'down_arrow' : predicate=='article' && !reverse}" ng-click="predicate='article'; reverse=!reverse">Стаття</a>
          </th>
          <th>
            <a href='' ng-class="{'up_arrow' : predicate=='counterparty' && reverse, 'down_arrow' : predicate=='counterparty' && !reverse}" ng-click="predicate='counterparty'; reverse=!reverse">Контрагент</a>
          </th>
          <th>
            <a href='' ng-class="{'up_arrow' : predicate=='value' && reverse, 'down_arrow' : predicate=='value' && !reverse}" ng-click="predicate='value'; reverse=!reverse">Сума</a>
          </th>
          <th>
            Примітки
          </th>
        </tr>
        <tr ng-repeat="register in registers | orderBy:predicate:reverse" style="background: {{ register.background }}" repeat-complete>
          <td>
            <span e-class="dateup" e-ng-click="openDatepicker()" e-ng-focus="showSelect()" editable-text="register.date | date:'dd-MM-yyyy'" e-name="date" e-form="rowform">
              <div class="buttons" ng-show="!rowform.$visible">
                {{ register.date }}
              </div>
            </span>
            <span class='errors' ng-show='response_id == register.id'>{{errors.date}}</span>
          </td>
          <td>
            <span editable-select="register.article.id" e-class="search-select" e-name="article_id" e-form="rowform"  e-ng-options="s.id as (s.name + ' (' + s.type_msg + ')') for s in articles">
              <div class="buttons" ng-show="!rowform.$visible">
                {{register.article.name}}
                <span class="{{ register.article.type }} article_type">
                  ({{ register.article.type_msg }})
                </span>
              </div>
            </span>
          </td>
          <td>
            <span editable-select="register.counterparty.id" e-class="search-select" e-name="counterparty_id" e-form="rowform" e-ng-options="s.id as s.name for s in counterparties">
              <div class="buttons" ng-show="!rowform.$visible">
                {{ register.counterparty.name }}
              </div>
            </span>
          </td>
          <td>
            <span editable-text="register.value" e-class="value" e-name="value" e-form="rowform">
              <div class="buttons" ng-show="!rowform.$visible">
                {{ register.value }}
              </div>
            </span>
            <span class='errors' ng-show='response_id == register.id'>{{errors.value}}</span>
          </td>
          <td>
            <span editable-text="register.notes" e-name="notes" e-form="rowform">
              <div class="buttons" ng-show="!rowform.$visible">
                {{ register.notes }}
              </div>
            </span>
          </td>
          <td>
            <form editable-form name="rowform" onbeforesave="update(register.id, $data)" ng-show="rowform.$visible" class="form-buttons form-inline">
              <button type="submit" class='icon-button' ng-disabled="rowform.$waiting" title="Зберегти зміни"><span class='glyphicon glyphicon-check'></span></button>
              <button type="button" class='icon-button' ng-disabled="rowform.$waiting" ng-click="rowform.$cancel(); clearError()" title="Відміна"><span class='glyphicon glyphicon-remove'></span></button>
            </form>
            <div class="buttons_record" ng-show="!rowform.$visible">
              <button type="button" class='icon-button hidd' ng-click="rowform.$show()" title="Редагування запису"><span class='glyphicon glyphicon-edit'></span></button>
              <button type="button" class='icon-button hidd' ng-click="delete(register.id)" title="Видалення запису"><span class='glyphicon glyphicon-trash'></span></button>
            </div>
            <span class="hidd" ng-show="!rowform.$visible" >
              <select ng-model="colorRecord" ng-change="update(register.id, {background: colorRecord}); register.background = colorRecord" class="color-record">
                <option value=""></option>
                <option value="#7bd148">Green</option>
                <option value="#5484ed">Bold blue</option>
                <option value="#a4bdfc">Blue</option>
                <option value="#46d6db">Turquoise</option>
                <option value="#fbd75b">Yellow</option>
                <option value="#ffb878">Orange</option>
                <option value="#ff887c">Red</option>
                <option value="#dbadff">Purple</option>
                <option value="#6A5ACD">SlateBlue</option>
                <option value="#00FFFF">Cyan</option>
                <option value="#7CFC00">LawnGreen</option>
                <option value="#FFD700">Gold</option>
                <option value="#CD5C5C">IndianRed</option>
                <option value="#D2691E">Chocolate</option>
                <option value="#FF1493">DeepPink</option>
                <option value="#9932CC">DarkOrchid</option>
                <option value="#009ACD">DeepSkyBlue</option>
                <option value="#B3EE3A">OliveDrab</option>
                <option value="#CD7054">Salmon</option>
                <option value="#D15FEE">MediumOrchid</option>
              </select>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
