To Для зміни пароля в Active-accounting клікніть на посилання 

= link_to edit_vendor_password_reset_url(@vendor.password_reset_token), edit_vendor_password_reset_url(@vendor.password_reset_token)

If  Якщо ви не хочете змінювати пароль, просто ігноруйте це повідомлення і ваш пароль буде продовжувати залишатися таким як є.
