span.article_type {
  font-style: italic;
  font-size: 10px;
  font-weight: bold;
  &.Cost {
    color: red;
  }
  &.Revenue {
    color: green;
  }
  &.Translation {
    color: blue;
  }
}

.butn, .form-buttons { display: inline-table; }

.editable-error {
  color: red;
  position: absolute;
  top: 24px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 999;
}

.select-types {
  display: inline-block;
  top: -1px;
  position: relative;
}

.submit-article {
  top: 4px;
  position: relative;
}

.articles {

  tr.list-count-article {
    td.name {
      span.editable-wrap {
        width: 100%;
        span, input {
          width: 100%;
        }
      }
    }
  }
  .list { margin-top: 25px; }

  .glyphicon { font-size: 15px; }

  td.articleType { width: 100px; }

  span.error { position: absolute; }

  form {
    .glyphicon { font-size: 20px; }
  }
}

.name-add-article { display: inline-block; }
