.client-info-modal {
  input {
    width: 100%;
  }

  form { width: 100% !important; }

  .btn {
    color: black;
    min-width: 115px;

    &:hover {
      background-color: #aaa;
      border-color: #aaa;
    }
  }

  .info-update { display: none; }

  .edit-modal input { margin-bottom: 20px; }
}
