ul {
  list-style: none;
  li {
    position: relative;
  }
}

form.editable-wrap {
  position: absolute;
  top: 0;
  background-color: white;
}

.counterparties {
  .date {
    color: black;
  }
}

.list_n > .editable-click, a.editable-click { color: gray; }
.list-count > .editable-click, a.editable-click { border-bottom: none; }
.list_false > .editable-click, a.editable-click { text-decoration: line-through; }
.status-count { font-size: 13px; }

.name-block {
  color: #1c6b1c;
  display: block;
  margin-top: 40px;
  margin-bottom: 5px;
}

.mess-warning {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.list_true > form > span > label > input {
  border: none;
  height: 14px;
}

.list_true > form > span > span > button {
  border: 1px solid #aaa;
  color: #444;
  padding: 0 6px 0 6px;
  border-radius: 4px;
  height: 29px;
  width: 89px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
  z-index: 999;
  position: relative;
}

