ul {
  list-style: none;
  li {
    position: relative;
  }
}

form.editable-wrap {
  position: absolute;
  top: 0;
  background-color: white;
}

.counterparties {
  .date {
    color: black;
  }
}

.list_n > .editable-click, a.editable-click { color: gray; }
.list_true > .editable-click, a.editable-click { color: green; }
.list_false > .editable-click, a.editable-click { color: gray; }
.status-count { font-size: 13px; }
