.estimates {
  margin-left: 20px;

  .show_button {
    height: 40px;
    &:hover {
      .hidde {
        display: inline-table;
      }
    }
  }

  .calendar {
    .btn {
      border: 1px solid #aaa;
      color: #444;
      padding: 0 6px 0 6px;
      margin: 1px !important;
      border-radius: 0px !important;
      height: 40px;
      width: 89px;
      background-color: #d6d4d4;
    }
  }
}
