.clearboth {
  clear: both;
  margin-bottom: 30px;
}

td.editIcon { width: 59px; }

td.editDate, th.editDate {
  width: 109px;
  input {
    width: 100px;
  }
}

input, textarea { outline: none; }

input:focus{
  border: 1px solid #5897FB;
  background: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

input {
  border: 1px solid #aaa;
  color: #444;
  border-radius: 4px;
  height: 26px;
  padding: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
  z-index: 999;
  position: relative;
}

.btn {
  border: 1px solid #aaa;
  color: #444;
  padding: 0 6px 0 6px;
  border-radius: 4px;
  height: 26px;
  width: 89px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}

.icon-button {
  background: transparent;
  color: #867373;
  border: none;
  font-size: 20px;
  padding: 0;
  margin: 0 5px;

  &:hover {
    span { color: #070707; }
  }
}

td { padding: 0 3px; }

label { margin: 0; }

.hidde { display: none; }

.list-count-article {
  .icon-button { font-size: 10px; }

  &:hover {
    .hidde {
      display: inline-table;
    }
  }
}

.links {
  float: left;

  a { margin-left: 10px; }
}

.locale {
  height: 30px;
  width: 32px;
}

.rate_currency {
  float: right;
  margin-right: 10px;

  input.value {
    width: 45px;
    height: 25px;
  }
}

@for $i from 1 through 400 {
  .height-#{$i} { height: $i*1px; }
  .width-#{$i} { width: $i*1px; }
  .margin-#{$i} { margin: $i*1px; }
  .margin-left-#{$i} { margin-left: $i*1px; }
  .margin-right-#{$i} { margin-right: $i*1px; }
  .margin-bottom-#{$i} { margin-bottom: $i*1px; }
  .margin-top-#{$i} { margin-top: $i*1px; }
  .padding-left-#{$i} { padding-left: $i*1px; }
  .padding-bottom-#{$i} { padding-bottom: $i*1px; }
}

.width-auto { width: auto; }

.editable-empty { color: #D14 !important; }

.center { margin: 0 auto; }

.error { color: #F00; }

.bg-grey { background-color: #F2F1F0; }

.calendar {
  .btn {
    border: 1px solid #aaa;
    color: #444;
    padding: 0 6px 0 6px;
    margin: 1px !important;
    border-radius: 0px !important;
    height: 40px;
    width: 89px;
    background-color: #d6d4d4;
  }
}

.ui-datepicker-week-end a { background: #d6d4d4 !important; }

.holidays-to-highlight a.ui-state-default{
  background: #47D243 !important;
  color: black;
}

#MonthPicker_month-picker .active > .ui-button-text { background-color: #d6d4d4; }

#ui-datepicker-div {
  z-index: 1200 !important;

  tr { height: auto; }
}

#main_container {
  background-color: #f7f7f9;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input_and_select {
  input {
    width: 104px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
  }

  .currency {
    margin-left: 0;
    width: 65px;
    height: 26px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    .select2-choice {
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

#acts-table { width: 50%; }

.dropdown-fetuatures {
  .select2-result-label { font-size: 10px; }
  .new-feature { color: blue; }
}

.one-feature {
  margin-top: 5px;

  &:hover {
    color: gray;
    .hidde { display: initial; }

    .icon-button {
      font-size: 15;
      position: absolute;
      margin-top: -5px;
    }
  }
}

.list-features-modal {
  input { width: 500px; }
  form { width: 96%; }
}

.icon-back {
  font-size: 25px;
}
