.hours {
  margin-left: 20px;

  .show_button {
    height: 40px;
    &:hover {
      .hidde {
        display: inline-table;
      }
    }
  }

  .calendar {
    max-width: 430px;

    table {
      max-width: 362px;
      width: 100%;
    }
  }

  #hours_form {
    display: block;
    margin: 0 auto;
    max-width: 650px;
  }
}

.info-update { display: none; }

.fa-key { cursor: pointer; }

.approve {
  display: table;
  margin-top: 3px;
  float: left;
}
