#invoices {
  #invoice-table {
    tr, td, th { height: 20px; }
  }

  table.ng-scope tr:nth-child(even) {
    background-color: white;
    border-spacing: 0;
    font-size: 12px;
  }
}

#generated-act { display: table; }

#invoice {
  .tab-content {
    border: 1px solid #dddddd;
    border-top-color: transparent;
    border-radius: 0 0 4px 4px;
    padding: 10px 15px;
  }

  .custumers { margin-bottom: 1px; }
}
