.multiple-picker {
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.698) inset, 0 2px 2px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 0 7px;
}

.picker-label, .month-picker-nav {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 25px;
  vertical-align: top;
  cursor: pointer;
}

.picker-wrapper {
  text-align: center;
}

input:focus + .picker-label, .month-picker-nav:focus {
  outline: 2px solid  rgb(94, 158, 215);
  outline: 5px auto -webkit-focus-ring-color;
}

.picker-label {
  position: relative;
  padding: 0 7px;
  font-size: 14px;
  font-weight: 200;
  color: black;
}

.month-picker-nav {
  width: 25px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(black, .7);
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(white, .1);
}

.checked_label {
  color: white;
  background: #302e42;
}
