.registers {
  form table tr {
    th {
      text-align: left;
    }
    td input, td select {
      width: 150px;
      text-align: left;
    }
  }

  .list {
    .dateup { width: 87px; }

    .td_icon {
      width: 150px;
      text-align: left;
    }

    .color_record {
      width: 20px;
      height: 20px;
      border: 0px;
      padding: 0px;
      border-radius: 10px;
    }

    .buttons_record {
      float: left;
      margin-right: 5px;
    }

    .simplecolorpicker {
      border: 3px solid #867373;
      border-radius: 5px;
      width: 22px;
      margin-left: 5px;

      &:hover { border-color: #070707; }
    }
  }

  table.register tr td {
    padding: 5px;
  }

  .list {
    margin-top: 25px;
  }

  .register {
    th a {
      padding-right: 15px;
    }
  }

  .value_plan {
    width: 125px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
  }

  .currency {
    margin-left: 0;
    width: 60px;
    height: 26px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    .select2-choice {
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .td_correction {
    white-space: nowrap;
    min-width: 200px;
    padding: 0;

    .editable-wrap { float: left; }
    .editable-select { width: inherit; }
  }

  .load_records {
    margin: 5px auto;
    display: table;
    font-size: 18px;
  }
}

.select2-result-label {
  font-size: 14px
}

span.errors {
  display: table;
  color: #F00;
  position: absolute;
}

span.error {
  color: red;
}

div.form {
  display: inline-table;
}

table.ng-scope {
  tr:nth-child(even) { background-color: #CCC; }
  tr:nth-child(odd) { background-color: #FFF; }
  border-spacing: 0;
  font-size: 12px;
  width: 100%;
  th.article { width: 30%; }
  th.date { width: 8%; }
  tr:first-child th {
    padding: 5px;
  }
}

table.register > tbody > tr > td > .editable-select { width: 100%; }

.hidd { display: none; }

tr {
  height: 40px;

  &:hover {
    .hidd {
      display: initial;
    }
  }
}

.filter { color: #3d5c3e; }
.form-filter { padding: 10px 0; }

.name-sandbox {
  font-size: 30px;
  position: relative;
  top: -14px;
}
