.registers {
  form table tr {
    th {
      text-align: left;
    }
    td input, td select {
      width: 150px;
    }

  }
.list {
  input, td, th, select {
    width: 150px;
    text-align: left;
  }
}

  table.register tr td {
    padding: 5px;
  }

  .list {
    margin-top: 25px;
  }

  .register {
    th a {
      padding-right: 15px;
    }
  }
}

.select2-result-label {
  font-size: 14px
}

.space { white-space: nowrap; }

span.errors {
  display: table;
  color: #F00;
  position: absolute;
}

span.error {
  color: red;
}

div.form {
  display: inline-table;
}

table.ng-scope {
  tr:nth-child(even) { background-color: #CCC; }
  tr:nth-child(odd) { background-color: #FFF; }
  border-spacing: 0;
  font-size: 12px;
  width: 100%;
  th.article { width: 30%; }
  th.date { width: 8%; }
  tr:first-child th {
    padding: 5px;
  }
}
