.registers {
  form table tr {
    th {
      text-align: left;
    }
    td input, td select {
      width: 150px;
      text-align: left;
    }
  }

  .list {
    .dateup { width: 87px; }

    .td_icon {
      width: 150px;
      text-align: left;
    }

    .color_record {
      width: 20px;
      height: 20px;
      border: 0px;
      padding: 0px;
      border-radius: 10px;
    }

    .buttons_record {
      float: left;
      margin-right: 5px;
    }

    .simplecolorpicker {
      border: 3px solid #867373;
      border-radius: 5px;
      width: 22px;
      margin-left: 5px;

      &:hover { border-color: #070707; }
    }
  }

  table.register tr td {
    padding: 5px;
  }

  .list {
    margin-top: 25px;
  }

  .register {
    th a {
      padding-right: 15px;
    }
  }

  .value_plan {
    width: 125px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
  }

  .currency {
    margin-left: 0;
    width: 60px;
    height: 26px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    .select2-choice {
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .td_correction {
    white-space: nowrap;
    min-width: 200px;
    padding: 0;

    .editable-wrap { float: left; }
    .editable-select { width: inherit; }
  }

  .load_records {
    margin: 5px auto;
    display: table;
    font-size: 18px;
  }

  .input_data { width: 90px; }
  .info_or { margin-left: 10px;}
  .position_left { float: left; }
  .position_right { float: right; }

  .head_filter {
    width: 100%;
    display: table;
    font-size: 20px;
    color: black;
  }

  .show_list_count {
    float: right;
    margin: 2px 20px;
  }

  .list_count_block {
    display: flex;
    background: #ececec;
    margin: 10px 25px;
    border: 3px groove #f1f2f4;
    border-radius: 10px;

    .text_right { text-align: right; }
    .width_35 { width: 35%; }

    table {
      width: 500px;
      background: white;
      float: left;
    }

    .list_count {
      display: table;
      margin: 10px auto;
      white-space: nowrap;

      .icon-button { float: right; }
    }
  }

  .counterparty-type {
    display: table;
    margin-top: -3px;
    margin-left: -3px;

    .btn {
      width: 114px;
      color: #444;
      background-color: #d6d4d4;
       border: 1px solid #aaa;
    }
  }
}

.select2-result-label {
  font-size: 14px
}

span.errors {
  display: table;
  color: #F00;
  position: absolute;
}

span.error {
  color: red;
}

div.form {
  display: inline-table;
}

table.ng-scope {
  tr:nth-child(even) { background-color: #CCC; }
  tr:nth-child(odd) { background-color: #FFF; }
  border-spacing: 0;
  font-size: 12px;
  width: 100%;
  th.article { width: 30%; }
  th.date { width: 8%; }
  tr:first-child th {
    padding: 5px;
  }
}

table.register > tbody > tr > td > .editable-select { width: 100%; }

.hidd { display: none; }

tr {
  height: 40px;

  &:hover {
    .hidd {
      display: initial;
    }
  }
}

.filter { margin-left: 10px; }

.form-filter {
  padding: 10px 0;

  tr { height: 25px; }

  &.open_form_filter {
    color: rgb(128, 125, 125);
    display: inline-table;
    background: #ececec;
    margin: 0 25px;
    border: 3px groove #f1f2f4;
    border-radius: 10px;
    padding-top: 0;
  }
}

.name-sandbox {
  font-size: 30px;
  position: relative;
  top: -14px;
}

.info-alas {
  margin: 0 auto;
  display: table;
  font-size: 16px;
}
