.report_hours {
  .customer_group, th, td { width: 250px; }

  .customer_group {
    display: table;

    i { font-weight: normal; }
  }

  tr {
    height: 40px;
    &:hover {
      .hidde {
        display: inline-table;
      }
    }
  }

  .icon { display: inline-flex; }
}
