.report {

  div {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
  }

  .month-picker-wrapper {
    input {
      width: 100px;
    }
  }

  .container, .values {
    display: flex;
  }

  .left {
    width: 200px;
  }

  .right {
    width: 1024px;
  }

  .value { width: 100px; text-align: right; }

  div {
    &.Revenue { color: green; }
    &.Cost { color: red; }
    &.Translation { color: blue; }

    &.header { font-weight: bold; }
  }

  .registers-table {
    display: inline-table;
    margin-bottom: 15px;
    margin-left: 60px;
    margin-top: 15px;
    width: 1024px;
  }

  .pointer {
    cursor: pointer;
  }

  div.bold {
    font-weight: bold;
  }

  div.counterparty {
    padding-left: 10px;
  }

  .collapse-count {
    color: #867373;
    font-size: 17px;
    cursor: pointer;
    margin: -3px 0 0 -2px;

    &:hover { color: #070707; }
  }
}
