.report_hours {
  th, td { width: 250px; }

  .table_customer {
    width: 100%;

    th, td { width: 25%; }
    .buttons_record { white-space: nowrap; }
    .editable-input { width: 100px; }
  }

  .year-select { margin-left: 5px; }

  .customer_group {
    display: table;
    width: 25%;

    i { font-weight: normal; }
  }

  tr {
    height: 40px;
    &:hover {
      .hidde {
        display: inline-table;
      }
    }
  }
}
