.report {

  div {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
  }

  .month-picker-wrapper {
    input {
      width: 100px;
    }
  }

  .container, .values {
    display: flex;
  }

  .left {
    width: 200px;
  }

  .right {
    width: 1024px;
  }

  .value {
    width: 100px;
    text-align: right;
    height: 20px;

    &.plan_show {
      width: 200px;
      text-align: center;
      margin: 0 2px;
    }
  }

  div {
    &.Revenue { color: green; }
    &.Cost { color: red; }
    &.Translation { color: blue; }

    &.header { font-weight: bold; }
  }

  .registers-table {
    display: inline-table;
    margin-bottom: 15px;
    margin-left: 60px;
    margin-top: 15px;
    width: 1024px;
  }

  .pointer {
    cursor: pointer;
  }

  div.bold {
    font-weight: bold;
  }

  div.counterparty {
    padding-left: 10px;
  }

  .collapse-count {
    cursor: pointer;
    margin: -3px 0 0 -2px;

    &:hover { color: #070707; }
  }

  .plan {
    background: #e5e0e0;
    width: 100px;
    text-align: right;
    display: inline-block;
    font-style: italic;
    height: 20px;
    padding: 0 3px;
    float: left;
  }

  .fact {
    width: 100px;
    text-align: right;
    display: inline-block;
    height: 20px;
    padding: 0 3px;

    &.add_background { background: #F1FAFC; }
  }

  .clearboth_report {
    height: 30px;
    width: 200px;
  }

  .clearboth_height { height: 30px; }

  .month_height { height: 39px; }
}
